<nav>
  <%= link_to "about", "#about" %>
  <%= link_to "blog", "#blog" %>

  <%= link_to "mailto:example@example.com" do %>
    <%= image_tag "email.svg", height: "18", width: "18", alt: "Email Icon" %>
  <% end %>

  <%= link_to "https://www.linkedin.com/in/trevor-seibel-502218132/", target: "_blank", rel: "noopener noreferrer" do %>
    <%= image_tag "linkedin.svg", height: "18", width: "18", alt: "LinkedIn Icon" %>
  <% end %>

  <%= link_to "https://github.com/teebl", target: "_blank", rel: "noopener noreferrer" do %>
    <%= image_tag "github.svg", height: "18", width: "18", alt: "GitHub Icon" %>
  <% end %>

  <%= link_to "projects", "#portfolio" %>
  <%= link_to "work", "#resume" %>

</nav>

<header style="text-align:center;">
  <h1>Trevor Seibel</h1>
  <p>Developer. Former Woodworker. Decent guy, generally speaking.</p>
</header>
<hr/>
<section>
  <h2>Latest Blog post</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, hic. Magni nisi tempore eos dolorem atque ex, sed culpa debitis quia neque explicabo libero assumenda dolores repellendus adipisci et omnis.</p>
  <a href="/">read more...</a>
</section>

<hr />

<section>
  <h2>Projects</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, hic. Magni nisi tempore eos dolorem atque ex, sed culpa debitis quia neque explicabo libero assumenda dolores repellendus adipisci et omnis.</p>
  <a href="/">read more...</a>
</section>

<hr />

<footer>
  ipsum
</footer>