<%= render "shared/header", title: @article[:title] %>

<% if @article[:image_path] %>
  <figure>
    <%= image_tag @article[:image_path], alt: @article[:image_alt] %>

    <% if  @article[:image_subtitle]%>
      <figcaption><%=  @article[:image_subtitle] %></figcaption>
    <% end %>

  </figure>
<% end %>

<%= @article[:html].html_safe %>

<hr />
<p><%= link_to '<<< back', :back %></p>