<nav>
  <%= link_to "home", "/" %>

  <%= link_to "about", about_path %>
  <%= link_to "blog", blog_index_path %>

  <%= link_to "mailto:example@example.com" do %>
    <%= image_tag "email.svg", height: "18", width: "18", alt: "Email Icon" %>
  <% end %>

  <%= link_to "https://www.linkedin.com/in/trevor-seibel-502218132/", target: "_blank", rel: "noopener noreferrer" do %>
    <%= image_tag "linkedin.svg", height: "18", width: "18", alt: "LinkedIn Icon" %>
  <% end %>

  <%= link_to "https://github.com/teebl", target: "_blank", rel: "noopener noreferrer" do %>
    <%= image_tag "github.svg", height: "18", width: "18", alt: "GitHub Icon" %>
  <% end %>

  <%= link_to "projects", "#portfolio" %>
  <%= link_to "work", "#resume" %>
</nav>