<nav>
  <%= link_to "home", "/" %>
  <%= link_to "about", about_path %>
  <%= link_to "blog", blog_index_path %>
<<<<<<< HEAD
  <%= link_to "projects", projects_path %>
=======
  <%= link_to "projects", "#portfolio" %>
  <%= link_to "work", "#resume" %>
>>>>>>> parent of 166f26e (projects setup)
</nav>